### Import Libraries



- To run this script we need the libraries below
- Pandas : For creating DataFrames
- Numpy:  For computations 
- OS : For modifying working directories 
- censusdata: This is a library for accessing US Census Bureau, we use some of its function to preview variables *
- Census: Main library for accessing the US Census Bureau API *
- pd.set_option allows us to view our entire output instead of it being truncated in jupyter notebook



 * You need to install these packages before you can use. Census = pip install census | censusdata = pip install CensusData

In [1]:
import pandas as pd
import numpy as np
import os
import censusdata as cs
from census import Census
import warnings

pd.set_option('display.max_rows',None, 'display.max_columns',None,'display.max_colwidth', None)

warnings.filterwarnings("ignore", message=".*DataFrame is highly fragmented.*")

##### Set Directory 

- Jupyter notebooks have default directories 
- Use os.chdir to set your preferred directory

In [2]:
pwd

'C:\\Users\\Thepr\\Downloads'

##### Pass your API Key

- Go to this [website](https://api.census.gov/data/key_signup.html 'sign up for your personal API key') and sign up your personal API key 

- Once you get your API key, call the Census function and pass your API key. Eg. Census("API Key")

In [3]:
c = Census("e0577a26a616f4dda60446eae987e3b6d0d944a3")

#### Preview ACS variable 
- Use the censustable function from censusdata library to preview the census variables
- To preview specify the dataset type eg. ACS year 5 estimates (acs5), then the year of interest(2019), then the table number('B21001')
- Use the printtable function to format the output nicely

In [4]:
cs.printtable(cs.censustable('acs5',2019,'B01001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B01001_001E  | SEX BY AGE                     | !! Estimate Total:                                       | int
B01001_002E  | SEX BY AGE                     | !! !! Estimate Total: Male:                              | int
B01001_003E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: Under 5 years             | int
B01001_004E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 5 to 9 years              | int
B01001_005E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 10 to 14 years            | int
B01001_006E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 15 to 17 years            | int
B01001_007E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 18 and 19 years           | int
B01001_008E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 20 years                  | int
B01001_009E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 21 years                  | int
B01001_010E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 22 to 24 years            | int
B01001_011E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 25 to 29 years            | int
B01001_012E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 30 to 34 years            | int
B01001_013E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 35 to 39 years            | int
B01001_014E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 40 to 44 years            | int
B01001_015E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 45 to 49 years            | int
B01001_016E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 50 to 54 years            | int
B01001_017E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 55 to 59 years            | int
B01001_018E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 60 and 61 years           | int
B01001_019E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 62 to 64 years            | int
B01001_020E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 65 and 66 years           | int
B01001_021E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 67 to 69 years            | int
B01001_022E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 70 to 74 years            | int
B01001_023E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 75 to 79 years            | int
B01001_024E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 80 to 84 years            | int
B01001_025E  | SEX BY AGE                     | !! !! !! Estimate Total: Male: 85 years and over         | int
B01001_026E  | SEX BY AGE                     | !! !! Estimate Total: Female:                            | int
B01001_027E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: Under 5 years           | int
B01001_028E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 5 to 9 years            | int
B01001_029E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 10 to 14 years          | int
B01001_030E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 15 to 17 years          | int
B01001_031E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 18 and 19 years         | int
B01001_032E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 20 years                | int
B01001_033E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 21 years                | int
B01001_034E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 22 to 24 years          | int
B01001_035E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 25 to 29 years          | int
B01001_036E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 30 to 34 years          | int
B01001_037E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 35 to 39 years          | int
B01001_038E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 40 to 44 years          | int
B01001_039E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 45 to 49 years          | int
B01001_040E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 50 to 54 years          | int
B01001_041E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 55 to 59 years          | int
B01001_042E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 60 and 61 years         | int
B01001_043E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 62 to 64 years          | int
B01001_044E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 65 and 66 years         | int
B01001_045E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 67 to 69 years          | int
B01001_046E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 70 to 74 years          | int
B01001_047E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 75 to 79 years          | int
B01001_048E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 80 to 84 years          | int
B01001_049E  | SEX BY AGE                     | !! !! !! Estimate Total: Female: 85 years and over       | int
-------------------------------------------------------------------------------------------------------------------

#### Downloading ACS data 
- We use the census library to download ACS variables for the census API. 
- We are able to access the census API because we passed our unique API key in the step above
- To access the data with census library, we have to specify the dataset of interest(acs5) and call the 'get' function
- The get function needs few key parameters including : NAME, ACS variable ID, geography of interest, and year of interest

    - Name: The name parameter reports the census block name
    
    - ACS Variable: The variable has to be specific, Estimates has E at the end, Margion of Error has M 
    
    - Geography: The geography uses a python dictionary.i.e key value pairs. we are interested in all blockgroup in Mecklenburg county. To get those we have to specify the geography using (for:name of geography and asteriks since we want all blockgroups), then for the county we have to specify the State ID (NC ID is 37) and the County ID (Meck County ID is 119), then the year (2019)
    
- The output after running the get function is a dictionary, so we wrap it in pandas DataFrame for further analysis

In [5]:
year = 2023
year

2023

In [6]:
Year = [2013, 2023]
AllData = []

for year in Year:
    
    Data = pd.DataFrame(c.acs5.get(('NAME',
                                    # SEX BY AGE - MALE
                                    'B01001_003E','B01001_004E','B01001_005E','B01001_006E',
                                    'B01001_007E','B01001_008E','B01001_009E','B01001_010E',
                                    'B01001_011E','B01001_012E','B01001_013E','B01001_014E',
                                    'B01001_015E','B01001_016E','B01001_017E','B01001_018E',
                                    'B01001_019E','B01001_020E','B01001_021E','B01001_022E',
                                    'B01001_023E','B01001_024E','B01001_025E',
                                    
                                    # SEX BY AGE - FEMALE
                                    'B01001_027E','B01001_028E','B01001_029E','B01001_030E',
                                    'B01001_031E','B01001_032E','B01001_033E','B01001_034E',
                                    'B01001_035E','B01001_036E','B01001_037E','B01001_038E',
                                    'B01001_039E','B01001_040E','B01001_041E','B01001_042E',
                                    'B01001_043E','B01001_044E','B01001_045E','B01001_046E',
                                    'B01001_047E','B01001_048E','B01001_049E',
                                    
                                    # TOTAL
                                    'B01001_001E'
                                    ),
                                   {'for':'place:04000',
                                    'in': 'state:48'}, year=year))

    Data.rename(columns={
        'B01001_003E':'Male_under_5E','B01001_004E':'Male_5_to_9E','B01001_005E':'Male_10_to_14E',
        'B01001_006E':'Male_15_to_17E','B01001_007E':'Male_18_to_19E','B01001_008E':'Male_20_to_24E',
        'B01001_009E':'Male_25_to_29E','B01001_010E':'Male_30_to_34E','B01001_011E':'Male_35_to_39E',
        'B01001_012E':'Male_40_to_44E','B01001_013E':'Male_45_to_49E','B01001_014E':'Male_50_to_54E',
        'B01001_015E':'Male_55_to_59E','B01001_016E':'Male_60_to_64E','B01001_017E':'Male_60_and_61E',
        'B01001_018E':'Male_62_to_64E','B01001_019E':'Male_65_and_66E','B01001_020E':'Male_67_to_69E',
        'B01001_021E':'Male_70_to_74E','B01001_022E':'Male_75_to_79E','B01001_023E':'Male_80_to_84E',
        'B01001_024E':'Male_85_and_overE',

        'B01001_027E':'Female_under_5E','B01001_028E':'Female_5_to_9E','B01001_029E':'Female_10_to_14E',
        'B01001_030E':'Female_15_to_17E','B01001_031E':'Female_18_to_19E','B01001_032E':'Female_20_to_24E',
        'B01001_033E':'Female_25_to_29E','B01001_034E':'Female_30_to_34E','B01001_035E':'Female_35_to_39E',
        'B01001_036E':'Female_40_to_44E','B01001_037E':'Female_45_to_49E','B01001_038E':'Female_50_to_54E',
        'B01001_039E':'Female_55_to_59E','B01001_040E':'Female_60_to_64E','B01001_041E':'Female_60_and_61E',
        'B01001_042E':'Female_62_to_64E','B01001_043E':'Female_65_and_66E','B01001_044E':'Female_67_to_69E',
        'B01001_045E':'Female_70_to_74E','B01001_046E':'Female_75_to_79E','B01001_047E':'Female_80_to_84E',
        'B01001_048E':'Female_85_and_overE',
        'B01001_001E': 'Total'
    }, inplace=True)

    
        # Custom Age Groups (Estimates Only)
    Data['0 - 9'] = (Data['Male_under_5E'] + Data['Male_5_to_9E'] + Data['Female_under_5E'] + Data['Female_5_to_9E'])

    Data['10 - 19'] = (Data['Male_10_to_14E'] + Data['Male_15_to_17E'] + Data['Male_18_to_19E'] +
                       Data['Female_10_to_14E'] + Data['Female_15_to_17E'] + Data['Female_18_to_19E'])

    Data['20 - 34'] = (Data['Male_20_to_24E'] + Data['Male_25_to_29E'] + Data['Male_30_to_34E'] +
                       Data['Female_20_to_24E'] + Data['Female_25_to_29E'] + Data['Female_30_to_34E'])

    Data['35 - 44'] = (Data['Male_35_to_39E'] + Data['Male_40_to_44E'] +
                       Data['Female_35_to_39E'] + Data['Female_40_to_44E'])

    Data['45 - 54'] = (Data['Male_45_to_49E'] + Data['Male_50_to_54E'] +
                       Data['Female_45_to_49E'] + Data['Female_50_to_54E'])

    Data['55 - 64'] = (Data['Male_55_to_59E'] + Data['Male_60_and_61E'] + Data['Male_62_to_64E'] +
                       Data['Female_55_to_59E'] + Data['Female_60_and_61E'] + Data['Female_62_to_64E'])

    Data['65 - 74'] = (Data['Male_65_and_66E'] + Data['Male_67_to_69E'] + Data['Male_70_to_74E'] +
                       Data['Female_65_and_66E'] + Data['Female_67_to_69E'] + Data['Female_70_to_74E'])

    Data['75 - 84'] = (Data['Male_75_to_79E'] + Data['Male_80_to_84E'] +
                       Data['Female_75_to_79E'] + Data['Female_80_to_84E'])

    Data['85+'] = (Data['Male_85_and_overE'] + Data['Female_85_and_overE'])

    Data['Year'] = year
    
    AgeGroup = ['0 - 9', '10 - 19', '20 - 34', '35 - 44','45 - 54', '55 - 64', '65 - 74', '75 - 84', '85+','Year','Total']
    
    
    AllData.append(Data[AgeGroup])
    
DataCombine = pd.concat(AllData)
DataCombine.set_index('Year', inplace = True)
DataCombine = DataCombine.T

DataCombine.columns = DataCombine.columns.astype(int)

DataCombine['Percent of Total 2013'] = DataCombine[2013] / DataCombine.loc['Total', 2013] * 100
DataCombine['Percent of Total 2023'] = DataCombine[2023] / DataCombine.loc['Total', 2023] * 100

# Calculate percentage change between 2013 and 2023
DataCombine['Percentage Change'] = ((DataCombine[2023] - DataCombine[2013]) / DataCombine[2013]) * 100

# Drop the Total row
FinalOutput = DataCombine.drop(index='Total')
FinalOutput = FinalOutput.round(2)

FinalOutput = FinalOutput.reset_index()
FinalOutput = FinalOutput.rename(columns={'index': 'Age Group'})
FinalOutput['Age Group'] = FinalOutput['Age Group'].apply(lambda x: f'="{x}"' if '-' in x else x)
FinalOutput.to_csv('City of Arlington Age Shift 2013 to 2023.csv', index=False)

In [7]:
FinalOutput

Year,Age Group,2013,2023,Percent of Total 2013,Percent of Total 2023,Percentage Change
0,"=""0 - 9""",58296.0,52344.0,15.70,13.26,-10.21
1,"=""10 - 19""",55046.0,59906.0,14.83,15.17,8.83
2,"=""20 - 34""",30923.0,31790.0,8.33,8.05,2.80
3,"=""35 - 44""",56751.0,60947.0,15.29,15.44,7.39
4,"=""45 - 54""",51901.0,53502.0,13.98,13.55,3.08
5,"=""55 - 64""",51719.0,56825.0,13.93,14.39,9.87
6,"=""65 - 74""",20157.0,28008.0,5.43,7.09,38.95
7,"=""75 - 84""",12334.0,20091.0,3.32,5.09,62.89
8,85+,3575.0,4537.0,0.96,1.15,26.91

#### Veterans